*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  gridContainer{
    position: relative;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; 
    background-color: red;
  }

  .container{
    position: relative;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 500px;
    width: 600px;

  }

  .container .overlayImg{
    position: absolute;
    z-index: 1;
    transform: translateZ(20px);
    margin-top: 30px;
    height: 500px;
    width: 600px;
    background-color: blue;

  }

  .container .backImg{
    position: absolute;
    width: 100%;
    z-index: -1;
    transform-style: preserve-3d;
    background-color: red;
}

@media (max-width: 1200px){





}