@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container{
    position: relative;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .container .overlayImg{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
    transform: translateZ(20px);
    margin-top: 30px;
  }

  .container .backImg{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: -1;
    transform-style: preserve-3d;
}
